{% extends 'base.html.twig' %}

{% block title %}about us{% endblock %}

{% block body %}
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.
        Aperiam at aut dolor dolore ea illo in labore, nulla obcaecati quidem ut voluptatem?
        Consequatur distinctio, facere in laborum possimus repellat soluta?
        Aliquam cum deleniti dicta enim eum expedita inventore ipsum laudantium magni molestiae
        natus perferendis, quo reprehenderit sunt, tempore temporibus velit.</p>




{% endblock %}
