{% extends 'base.html.twig' %}

{#{% form_theme wish_form 'bootstrap_5_layout.html.twig' %} on peut intégrer directement la ligne dans twig.yaml, packages, config pour tous les formulaires  #}

{% block body %}

    <h1>Editer un voeu</h1>
    {{ form(wish_form) }}


{% endblock %}